.fruit-ninja-container {
  position: relative;
  height: 100vh;
  width: 100vw;
  background: linear-gradient(to bottom, #000, #222);
  background-image: url('/public/assets/fruit-ninja/fruit-ninja-background.png');
  background-size: cover;
  background-position: center;
  color: white;
  text-align: center;
  overflow: hidden;
}


.oyun-alani {
  position: relative;
  height: 100%;
  width: 100%;
}

.meyve {
  position: absolute;
  width: 60px;
  transition: transform 0.1s;
  cursor: pointer;
}

.bitis-ekrani {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #111;
  padding: 20px;
  border: 2px solid red;
  z-index: 10;
}
.ana-menu-buton {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: #ff4d4d;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  z-index: 20;
  transition: background-color 0.3s;
}

.ana-menu-buton:hover {
  background-color: #e60000;
}

