.fruit-ninja-container {
  position: relative;
  height: 100vh;
  width: 100vw;
  background: linear-gradient(to bottom, #000, #222);
  background-image: url('/public/assets/fruit-ninja/fruit-ninja-background.png');
  background-size: cover;
  background-position: center;
  color: white;
  text-align: center;
  overflow: hidden;
}


.oyun-alani {
  position: relative;
  height: 100%;
  width: 100%;
}

.meyve {
  position: absolute;
  width: 60px;
  transition: transform 0.1s;
  cursor: pointer;
}

.bitis-ekrani {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #111;
  padding: 20px;
  border: 2px solid red;
  z-index: 10;
}
